body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.seccion {
  width: 100%;
  height: 100%;
  display: flex;
  
}
.dNone {
  display: none;
}
.loading {
  color: #fff;
  background-color: black;
}
/* HEADER */
.header {
  border: solid 1px orange;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
.container a{
  margin-right: 15px;
}
.home {
  border: solid 1px red;
  flex-direction: column;
  height: 667px;
}

.hero {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.hero img{
  width: 30vh;
  height: 0 auto;
}
.hero :nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.categoria {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 10px greenyellow;
}
.categorias img{
  width: 100px;
}
.categoria .container{
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.lista .container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.categoria_productos{
  display: flex;
}
.categoria_productos div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoria .container div{
  height: 100%;
  width: 100%;
}
.categoria_productos:hover{
  border:2px solid red;
}
.card{
  width: 200px !important;
  margin: 10px;
  align-items: center;
}
.card img{
  width: 100px;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.modal-body{
  display: flex;
  align-items: center;
}
.modal-body img{
  width: 100px;
}
footer {
  color: #fff;
  background: #444;
  height: 34px;
}
